[submodule "kde-extra-cmake-modules"]
	path = kde-extra-cmake-modules
	url = git://anongit.kde.org/extra-cmake-modules
[submodule "polkit-qt-1"]
	path = polkit-qt-1
	url = https://github.com/hawaii-desktop/polkit-qt-1.git
[submodule "widget-styles"]
	path = widget-styles
	url = https://github.com/mauios/hawaii-widget-styles.git
[submodule "icon-themes"]
	path = icon-themes
	url = https://github.com/mauios/hawaii-icon-themes.git
[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/mauios/hawaii-wallpapers.git
[submodule "widget-factory"]
	path = widget-factory
	url = https://github.com/mauios/widget-factory.git
[submodule "greenisland"]
	path = greenisland
	url = https://github.com/mauios/greenisland.git
[submodule "system-preferences"]
	path = system-preferences
	url = https://github.com/mauios/hawaii-system-preferences.git
[submodule "swordfish"]
	path = swordfish
	url = https://github.com/mauios/swordfish.git
[submodule "terminal"]
	path = terminal
	url = https://github.com/mauios/hawaii-terminal.git
[submodule "eyesight"]
	path = eyesight
	url = https://github.com/mauios/eyesight.git
[submodule "archiver"]
	path = archiver
	url = https://github.com/hawaii-desktop/archiver.git
[submodule "fluid"]
	path = fluid
	url = https://github.com/mauios/fluid.git
[submodule "qt-accountsservice-addon"]
	path = qt-accountsservice-addon
	url = https://github.com/mauios/qtaccountsservice.git
[submodule "shell"]
	path = shell
	url = https://github.com/mauios/hawaii-shell.git
[submodule "cinema"]
	path = cinema
	url = https://github.com/mauios/cinema.git
[submodule "qtconfiguration"]
	path = qtconfiguration
	url = https://github.com/mauios/qtconfiguration.git
[submodule "libqtxdg"]
	path = libqtxdg
	url = https://github.com/lxde/libqtxdg.git
[submodule "qtaccountsservice"]
	path = qtaccountsservice
	url = https://github.com/mauios/qtaccountsservice.git
