[submodule "kde-extra-cmake-modules"]
	path = kde-extra-cmake-modules
	url = git://anongit.kde.org/extra-cmake-modules
[submodule "kde-solid"]
	path = kde-solid
	url = https://github.com/hawaii-desktop/solid.git
[submodule "vibe"]
	path = vibe
	url = https://github.com/hawaii-desktop/vibe.git
[submodule "widget-styles"]
	path = widget-styles
	url = https://github.com/hawaii-desktop/widget-styles.git
[submodule "icon-themes"]
	path = icon-themes
	url = https://github.com/hawaii-desktop/icon-themes.git
[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/hawaii-desktop/wallpapers.git
[submodule "widget-factory"]
	path = widget-factory
	url = https://github.com/hawaii-desktop/widget-factory.git
[submodule "login-manager"]
	path = login-manager
	url = https://github.com/hawaii-desktop/login-manager.git
[submodule "greenisland"]
	path = greenisland
	url = https://github.com/hawaii-desktop/greenisland.git
[submodule "system-preferences"]
	path = system-preferences
	url = https://github.com/hawaii-desktop/system-preferences.git
[submodule "swordfish"]
	path = swordfish
	url = https://github.com/hawaii-desktop/swordfish.git
[submodule "terminal"]
	path = terminal
	url = https://github.com/hawaii-desktop/terminal.git
[submodule "eyesight"]
	path = eyesight
	url = https://github.com/hawaii-desktop/eyesight.git
[submodule "archiver"]
	path = archiver
	url = https://github.com/hawaii-desktop/archiver.git
[submodule "fluid"]
	path = fluid
	url = https://github.com/hawaii-desktop/fluid.git
[submodule "fluid-themes"]
	path = fluid-themes
	url = https://github.com/hawaii-desktop/fluid-themes.git
[submodule "kde-kcoreaddons"]
	path = kde-kcoreaddons
	url = https://github.com/hawaii-desktop/kde-kcoreaddons.git
[submodule "libkdeqt5staging"]
	path = libkdeqt5staging
	url = https://github.com/hawaii-desktop/libkdeqt5staging.git
[submodule "qt-accountsservice-addon"]
	path = qt-accountsservice-addon
	url = https://github.com/hawaii-desktop/qt-accountsservice-addon.git
[submodule "polkit-qt-1"]
	path = polkit-qt-1
	url = https://github.com/hawaii-desktop/polkit-qt-1.git
